@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Open+Sans&family=Poppins&display=swap");
// fonts
$font-BelleFair: "Bellefair", serif;
$font-OpenSans: "Open Sans", sans-serif;
$font-Poppins: "Poppins", sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-Poppins;
  font-size: 100%;
  background-color: #16003b;
  // background-color: #fafbfb;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
