.movieLayout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 100%;
  margin-bottom: 9rem;
}
.title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: white;
}
